@import "../../css/variables.css";

.searchBarContainer {
  width: 95%;
  display: flex;
  justify-content: center;
  height: 50px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #000;
  margin-top: 10px;
}
.searchBarContainer input {
  background: none;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 100;
  border: none;
}
